<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nathan Newsletter</title>
</head>
<body style="font-size: 16px; line-height: 1.5em;padding: 0px; margin: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">

<div>

    <div style="text-align: center; height: 160px;"><img src="" style="height: 160px;"/></div>

    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <br>
        <div>
            <h2>Nathan's newsletter, 04/19/17</h2>
            <blockquote>My weekly helpful reminder of the great things I've bookmarked.</blockquote>
        </div>
        <hr>
        <br>
        <div>
            <h3>Your upcoming Meetups</h3>
            
                <h4>Wednesday Apr 26 6PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Utah MongoDB User Group: <a href="https://www.meetup.com/Utah-MongoDB-User-Group/events/239128747/">mongoDB Query Hackathon !!</a>
                  </li>
                </ul>
            
                <h4>Thursday Apr 27 12PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Big Data Utah: <a href="https://www.meetup.com/BigDataUtah/events/238923589/">Data Science and Hadoop Lunch @ Adobe</a>
                  </li>
                </ul>
            
                <h4>Thursday Apr 27 7PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Utah Growth: <a href="https://www.meetup.com/Utah-Growth-Hackers/events/239162862/">"Going the enterprise model" with Spencer Dent</a>
                  </li>
                </ul>
            
                <h4>Tuesday May 2 12PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Analyze Utah: <a href="https://www.meetup.com/Analyze-Utah/events/kkcbtmywhbdb/">Presentations & Networking</a>
                  </li>
                </ul>
            
                <h4>Tuesday May 9 6PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Lambda Lounge Utah: <a href="https://www.meetup.com/Lambda-Lounge-Utah/events/239022610/">TBD</a>
                  </li>
                </ul>
            
                <h4>Wednesday May 10 6PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Big Data Utah: <a href="https://www.meetup.com/BigDataUtah/events/238610138/">Big Data Utah Meeting @ IHC</a>
                  </li>
                </ul>
            
                <h4>Thursday May 11 6PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Python at the Point: <a href="https://www.meetup.com/PythonAtThePoint/events/239300523/">Beginners: Magical Web Services!</a>
                  </li>
                </ul>
            
                <h4>Tuesday May 16 12PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Analyze Utah: <a href="https://www.meetup.com/Analyze-Utah/events/kkcbtmywhbvb/">Presentations & Networking</a>
                  </li>
                </ul>
            
                <h4>Tuesday May 30 12PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Analyze Utah: <a href="https://www.meetup.com/Analyze-Utah/events/kkcbtmywhbnc/">Presentations & Networking</a>
                  </li>
                </ul>
            
                <h4>Tuesday Jun 13 12PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Analyze Utah: <a href="https://www.meetup.com/Analyze-Utah/events/kkcbtmywjbrb/">Presentations & Networking</a>
                  </li>
                </ul>
            
        </div>
        <br>
        <div>
            <h3>Cool and interesting bookmarks</h3>
            <hr>
            

                    <a href="http://stevensanne.com/blog/"><h4>Anne Stevens | Creative Technology</h4></a>
                    <ul style="list-style-type:disc">
                      <li>This tutorial is about adding interactivity to Tableau visualizations, specifically using Filters and Parameters.
In Tableau, they can be either static or interactive.
The backstory Camping and outdoor gear manufacturer, Woods Canada, recently launched a social media campaign for the summer of 2015.</li>
                    </ul>
                    <hr>

            

                    <a href="http://sangaline.com/post/advanced-web-scraping-tutorial/"><h4>Advanced Web Scraping: Bypassing "403 Forbidden," captchas, and more | sangaline.com</h4></a>
                    <ul style="list-style-type:disc">
                      <li>It just seems like many of the things that I work on require me to get my hands on data that isn’t available any other way.
Even if I were to personally follow these rules, it would still feel like a step too far to do a how-to guide for a specific site that people might actually want to scrape.</li>
                    </ul>
                    <hr>

            

                    <a href="https://github.com/rochacbruno/flasgger"><h4>rochacbruno/flasgger: Easy Swagger UI for your Flask API</h4></a>
                    <ul style="list-style-type:disc">
                      <li>Flasgger can work with simple function views or MethodViews using docstring for especification, or using  decorator to get specification from YAML or dict and also provides SwaggerView which can use Marshmallow Schemas  as specification.
Flasgger is compatible with  so you can use  and  specifications together, take a look at restful example.</li>
                    </ul>
                    <hr>

            

                    <a href="http://datasciencemasters.org/"><h4>The Open Source Data Science Masters by datasciencemasters</h4></a>
                    <ul style="list-style-type:disc">
                      <li>...by 2018 the United States will experience a shortage of 190,000 skilled data scientists, and 1.5 million managers and analysts capable of reaping actionable insights from the big data deluge.
-- McKinsey Report Highlights the Impending Data Scientist Shortage 23 July 2013 There are little to no Data Scientists with 5 years experience, because the job simply did not exist.</li>
                    </ul>
                    <hr>

            

                    <a href="http://www.datavizcatalogue.com/"><h4>The Data Visualisation Catalogue</h4></a>
                    <ul style="list-style-type:disc">
                      <li>Arc Diagram Area Graph Bar Chart Box & Whisker Plot Brainstorm Bubble Chart Bubble Map Bullet Graph Calendar Candlestick Chart</li>
                    </ul>
                    <hr>

            

                    <a href="http://www.dataplumbing.com/blog/r-tutorial-for-beginners-a-quick-start-up-kit"><h4>R Tutorial for Beginners: A Quick Start-Up Kit - Data Plumbing</h4></a>
                    <ul style="list-style-type:disc">
                      <li>Originally posted on Data Science Central, by Mitchell A. Sanders.  You need to be a member of Data Plumbing to add comments!  Join Data Plumbing
         @DataScienceCtrl | RSS Feeds 
            
            Report an Issue  | 
        Terms of Service
     
        © 2017 Data Plumbing  
        

Powered by 
     Please check your browser settings or contact your system administrator.</li>
                    </ul>
                    <hr>

            

                    <a href="https://github.com/nathanepstein/dora?utm_content=buffer9ae12&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"><h4>NathanEpstein/Dora: Tools for exploratory data analysis in Python</h4></a>
                    <ul style="list-style-type:disc">
                      <li>
          Use Git or checkout with SVN using the web URL.  Exploratory data analysis toolkit for Python.  Dora is a Python library designed to automate the painful parts of exploratory data analysis.  The library contains convenience functions for data cleaning, feature selection & extraction, visualization, partitioning data for model validation, and versioning transformations of data.  The library uses and is intended to be a helpful addition to common Python data analysis tools such as pandas, scikit-learn, and matplotlib.</li>
                    </ul>
                    <hr>

            
        </div>
        <br>
        <br>
        <div>
            Thanks for reading!
        </div>
        <br>
        <br>
        <div style="text-align: center;">
            <a href="" style="font-weight: bold; text-decoration: none; display: inline-block; padding: 6px 12px;margin-bottom: 0px;font-size: 14px;line-height: 1.42857;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-moz-user-select: none;border-radius: 4px;color: #FFF;background: #5CB85C none;border-color: #4CAE4C;">A button to your site!</a>
        </div>
        <br>
        <br>
        <div>
            <div style="float: right; font-size: 14px; font-weight: bold; color: #666; text-align: center; line-height: 1.2em;">

                <a href="https://twitter.com/data_cheeves"
                   style="color: #666; text-decoration: none;"><img
                        src=""
                        style="height: 90px; border-radius: 5px;"/>
                </a>
                <div><a href="https://twitter.com/data_cheeves"
                        style="color: #666; text-decoration: none;">Nathan</a>
                </div>



            </div>

            <div>
                Did we miss something? Or have a question?<br>
                We invite you to ask anything you’d like to hear answered.<br>
                Tweet us at <a href="https://twitter.com/data_cheeves">@data_cheeves</a>
            </div>
            <div style="clear: both;"></div>
        </div>

    </div>
</div>
</body>
</html>