<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nathan Newsletter</title>
</head>
<body style="font-size: 16px; line-height: 1.5em;padding: 0px; margin: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">

<div>

    <div style="text-align: center;"><img src="http://placehold.it/350x65"/></div>

    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <br>
        <div>
            <h2>Nathan's newsletter, 05/02/17</h2>
            <blockquote>My weekly helpful reminder of the great things I've bookmarked.</blockquote>
        </div>
        <hr>
        <br>
        
        <div>
            <h3>Your upcoming Meetups</h3>
            
                <h4>Tuesday May 2 12PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Analyze Utah: <a href="https://www.meetup.com/Analyze-Utah/events/239515051/">Data Science Projects</a>
                  </li>
                </ul>
            
                <h4>Wednesday May 3 10AM:</h4>
                <ul style="list-style-type:disc">
                  <li>Big Data Utah: <a href="https://www.meetup.com/BigDataUtah/events/239601870/">Data Science Challenges - Reducing Traffic Fatalities (Live Stream)</a>
                  </li>
                </ul>
            
                <h4>Wednesday May 3 7PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Salt Lake City Python: <a href="https://www.meetup.com/SLCPython/events/239386906/">May Meetup: Lightning talks! ⚡️</a>
                  </li>
                </ul>
            
                <h4>Tuesday May 9 12PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Analyze Utah: <a href="https://www.meetup.com/Analyze-Utah/events/239515249/">Solving Problems with Data Science</a>
                  </li>
                </ul>
            
                <h4>Thursday May 11 6PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Python at the Point: <a href="https://www.meetup.com/PythonAtThePoint/events/239300523/">Beginners: Magical Web Services!</a>
                  </li>
                </ul>
            
                <h4>Thursday May 11 7PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Python at the Point: <a href="https://www.meetup.com/PythonAtThePoint/events/239392543/">Frontend at Scale. Service Oriented Front End.</a>
                  </li>
                </ul>
            
                <h4>Saturday May 13 9AM:</h4>
                <ul style="list-style-type:disc">
                  <li>Big Data Utah: <a href="https://www.meetup.com/BigDataUtah/events/239461789/">Big Mountain Data Spring Event</a>
                  </li>
                </ul>
            
                <h4>Tuesday May 16 12PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Analyze Utah: <a href="https://www.meetup.com/Analyze-Utah/events/239665638/">Takeaways from Big Data West</a>
                  </li>
                </ul>
            
        </div>
        
        <br>
        <div>
            <h3>Cool and interesting bookmarks</h3>
            <hr>
            
                    <a href="https://github.com/audreyr/cookiecutter#python"><h4>audreyr/cookiecutter: A command-line utility that creates projects from cookiecutters (project templates). E.g. Python package projects, jQuery plugin projects.</h4></a>
                    <ul style="list-style-type:disc">
                      <li>A command-line utility that creates projects from cookiecutters (project
creating a Python package project from a Python package project template.
know/write Python code to use Cookiecutter.)  Project templates can be in any programming language or markup format:
You can use multiple languages in the same project template.</li>
                    </ul>
                    <hr>
            
                    <a href="http://pbpython.com/effective-matplotlib.html?utm_campaign=Data%2BElixir&utm_medium=email&utm_source=Data_Elixir_129"><h4>Effectively Using Matplotlib - Practical Business Python</h4></a>
                    <ul style="list-style-type:disc">
                      <li>The python visualization world can be a frustrating place for a new user.
This post will show how I use matplotlib and provide some recommendations for users getting
started or users who have not taken the time to learn matplotlib.
built around it and many of the more advanced visualization tools use matplotlib as</li>
                    </ul>
                    <hr>
            
                    <a href="http://tomaugspurger.github.io/modern-4-performance.html"><h4>Modern Pandas</h4></a>
                    <ul style="list-style-type:disc">
                      <li>It's pretty common to have many similar sources (say a bunch of CSVs) that need to be combined into a single DataFrame.
The idiomatic python way This is pretty standard code, quite similar to building up a list of tuples, say.</li>
                    </ul>
                    <hr>
            
                    <a href="https://github.com/stitchfix/hello-scrollytelling"><h4>stitchfix/hello-scrollytelling: A bare-bones version of the scrollytelling framework used in the Algorithms Tour</h4></a>
                    <ul style="list-style-type:disc">
                      <li>In our Algorithms Tour, we used a lot of svg drawings and d3.timer-based animations, both of which are demonstrated here.
The two most important  elements are the  and  elements, which play the roles described in Jim Vallandingham's description: the  div contains a set of  elements that form the text column on the left, and whose positions determine which javascript functions are called when to manipulate the visual elements in the  div.</li>
                    </ul>
                    <hr>
            
                    <a href="https://www.dataquest.io/blog/pyspark-installation-guide/"><h4>PySpark: How to install and Integrate with the Jupyter Notebook</h4></a>
                    <ul style="list-style-type:disc">
                      <li>To test that Spark was built properly, run the following command in the same folder (where Spark resides): and the interactive PySpark shell should start up.
Use  or  to open  and add the following lines at the end: Replace  with the location of the folder you unzipped Spark to (and also make sure the version numbers match!</li>
                    </ul>
                    <hr>
            
                    <a href="http://thefourtheye.in/2013/04/28/mongodb-aggregation-framework-basics/"><h4>MongoDB Aggregation Framework Basics Explained - thefourtheye's weblog</h4></a>
                    <ul style="list-style-type:disc">
                      <li>Following are the basic pipeline operators and let us make use of these operators over the sample data which we created.
We can even flatten the data using project as shown in the example below These two operators can be used to limit the number of documents being returned.</li>
                    </ul>
                    <hr>
            
                    <a href="http://api.mongodb.com/python/current/tutorial.html"><h4>Tutorial — PyMongo 3.4.0 documentation</h4></a>
                    <ul style="list-style-type:disc">
                      <li>working with PyMongo you access databases using attribute style access
on  instances: If your database name is such that using attribute style access won’t
work (like ), you can use dictionary style access
collection in PyMongo works the same as getting a database: or (using dictionary style access):</li>
                    </ul>
                    <hr>
            
                    <a href="https://docs.mongodb.com/manual/tutorial/query-documents/"><h4>Query Documents — MongoDB Manual 3.4</h4></a>
                    <ul style="list-style-type:disc">
                      <li>collection, run the following: This page provides examples of query operations using the
Tip The driver provides com.mongodb.client.model.Filters
populate the  collection, run the following: This page provides examples of query operations using the
populate the  collection, run the following: This page provides examples of query operations using the</li>
                    </ul>
                    <hr>
            
        </div>
        <br>
        <br>
        <div>
            Thanks for reading!
        </div>
        <br>
        <br>
        <div style="text-align: center;">
            <a href="" style="font-weight: bold; text-decoration: none; display: inline-block; padding: 6px 12px;margin-bottom: 0px;font-size: 14px;line-height: 1.42857;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-moz-user-select: none;border-radius: 4px;color: #FFF;background: #5CB85C none;border-color: #4CAE4C;">A button to your site!</a>
        </div>
        <br>
        <br>
        <div>
            <div style="float: right; font-size: 14px; font-weight: bold; color: #666; text-align: center; line-height: 1.2em;">

                <a href="https://twitter.com/data_cheeves"
                   style="color: #666; text-decoration: none;"><img
                        src="http://placehold.it/150"
                        style="height: 90px; border-radius: 5px;"/>
                </a>
                <div><a href="https://twitter.com/data_cheeves"
                        style="color: #666; text-decoration: none;">Nathan</a>
                </div>
            </div>

            <div>
                Did we miss something? Or have a question?<br>
                We invite you to ask anything you’d like to hear answered.<br>
                Tweet us at <a href="https://twitter.com/data_cheeves">@data_cheeves</a>
            </div>
            <div style="clear: both;"></div>
        </div>

    </div>
</div>
</body>
</html>