<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nathan Newsletter</title>
</head>
<body style="font-size: 16px; line-height: 1.5em;padding: 0px; margin: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">

<div>

    <div style="text-align: center;"><img src="http://placehold.it/350x65"/></div>

    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <br>
        <div>
            <h2>Nathan's newsletter, 09/30/17</h2>
            <blockquote>My weekly helpful reminder of the great things I've bookmarked.</blockquote>
        </div>
        <hr>
        <br>
        
        <div>
            <h3>Your upcoming Meetups</h3>
            
                <h4>Tuesday Oct 3 5PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Analyze Utah: <a href="https://www.meetup.com/Analyze-Utah/events/242647530/">Doing Data Journalism for Utah</a>
                  </li>
                </ul>
            
                <h4>Wednesday Oct 4 7PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Salt Lake City Python: <a href="https://www.meetup.com/SLCPython/events/242572240/">3D Python With Ethan Estrade Meetup</a>
                  </li>
                </ul>
            
                <h4>Tuesday Oct 10 6PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Lambda Lounge Utah: <a href="https://www.meetup.com/Lambda-Lounge-Utah/events/qdghthywnbnb/">TBD</a>
                  </li>
                </ul>
            
                <h4>Wednesday Oct 11 6PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Big Data Utah: <a href="https://www.meetup.com/BigDataUtah/events/240352999/">Big Data Utah Meeting @ IHC</a>
                  </li>
                </ul>
            
                <h4>Thursday Oct 12 12PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Python at the Point: <a href="https://www.meetup.com/PythonAtThePoint/events/243372097/">Declarative Programming in Python</a>
                  </li>
                </ul>
            
                <h4>Thursday Oct 12 6PM:</h4>
                <ul style="list-style-type:disc">
                  <li>Utah MongoDB User Group: <a href="https://www.meetup.com/Utah-MongoDB-User-Group/events/243406417/">MongoDB User Group!</a>
                  </li>
                </ul>
            
        </div>
        
        <br>
        <div>
            <h3>Cool and interesting bookmarks</h3>
            <hr>
            
                    <a href="https://franchise.cloud/app/"><h4>Franchise</h4></a>
                    <ul style="list-style-type:disc">
                      <li>Franchise</li>
                    </ul>
                    <hr>
            
                    <a href="https://chrisalbon.com/machine-learning/cross_validation_parameter_tuning_grid_search.html"><h4>Cross Validation With Parameter Tuning Using Grid Search - Machine Learning</h4></a>
                    <ul style="list-style-type:disc">
                      <li>In machine learning, two tasks are commonly done at the same time in data pipelines: cross validation and (hyper)parameter tuning.
In this tutorial we work through an example which combines cross validation and parameter tuning using scikit-learn.
To demonstrate cross validation and parameter tuning, first we are going to divide the digit data into two datasets called  and .</li>
                    </ul>
                    <hr>
            
                    <a href="https://franchise.cloud/?utm_campaign=Data%2BElixir&utm_medium=email&utm_source=Data_Elixir_150"><h4>Franchise: a sql notebook</h4></a>
                    <ul style="list-style-type:disc">
                      <li>If your data is in a CSV, JSON, or XLSX file, loading it is as simple as dropping the file into Franchise.
Run a single command in your terminal to set up a database bridge that allows Franchise to connect to your databases directly through your computer.
Your data never hits our servers.</li>
                    </ul>
                    <hr>
            
                    <a href="http://www.storybench.org/getting-started-data-visualization-r-using-ggplot2/?utm_campaign=Data%2BElixir&utm_medium=email&utm_source=Data_Elixir_150"><h4>Getting started with data visualization in R using ggplot2 - Storybench</h4></a>
                    <ul style="list-style-type:disc">
                      <li>My goal when I create a graph or visualization is to communicate an idea or some information about the underlying data (i.e., the differences, patterns, etc.)  with a minimal amount additional explanation.</li>
                    </ul>
                    <hr>
            
                    <a href="https://laurenshareshian.github.io/"><h4>Lauren Shareshian – Math Teacher and Burgeoning Data Scientist</h4></a>
                    <ul style="list-style-type:disc">
                      <li>You can view the top 10 projected players according to ESPN and the top 10 actual fantasy leaders for the 2016 season below: The first project at Metis involved analyzing the NYC Metropolitan Transportation Authority (MTA) turnstile data in order to provide recommendations to a womens’ tech organization as to which subway stations they should target in order to advertise for their annual gala.</li>
                    </ul>
                    <hr>
            
                    <a href="http://www.smalldatajournalism.com/"><h4>small data Journalism | A compendium of practical data journalism lessons.</h4></a>
                    <ul style="list-style-type:disc">
                      <li>I wanted my students to have a convenient place to find course-related information, data files, and guides.
Since the course aims to take a practical and generalized approach to data journalism, there's no reason not to open it to the world.
A by-no-means-complete list of guides, articles, and books related to data journalism.</li>
                    </ul>
                    <hr>
            
                    <a href="https://www.ynonperek.com/2017/09/21/python-exercises/"><h4>Python Exercises</h4></a>
                    <ul style="list-style-type:disc">
                      <li>This following list has helped me learn and later teach various topics in Python.
(and its relevant count) Create a CSV file from the data as follows: Format can be any string that contains any number of the labels: , , ,  Assume file names match input format.</li>
                    </ul>
                    <hr>
            
                    <a href="http://xgboost.readthedocs.io/en/latest/R-package/discoverYourData.html#measure-feature-importance"><h4>Understand your dataset with XGBoost — xgboost 0.6 documentation</h4></a>
                    <ul style="list-style-type:disc">
                      <li>We will explain how to use Xgboost to highlight the link between the features of your data and the outcome.
In this Vignette we will see how to transform a dense  (dense = few zeroes in the matrix) with categorical variables to a very sparse matrix (sparse = lots of zero in the matrix) of  features.</li>
                    </ul>
                    <hr>
            
        </div>
        <br>
        <br>
        <div>
            Thanks for reading!
        </div>
        <br>
        <br>
        <div style="text-align: center;">
            <a href="" style="font-weight: bold; text-decoration: none; display: inline-block; padding: 6px 12px;margin-bottom: 0px;font-size: 14px;line-height: 1.42857;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-moz-user-select: none;border-radius: 4px;color: #FFF;background: #5CB85C none;border-color: #4CAE4C;">A button to your site!</a>
        </div>
        <br>
        <br>
        <div>
            <div style="float: right; font-size: 14px; font-weight: bold; color: #666; text-align: center; line-height: 1.2em;">

                <a href="https://twitter.com/data_cheeves"
                   style="color: #666; text-decoration: none;"><img
                        src="http://placehold.it/150"
                        style="height: 90px; border-radius: 5px;"/>
                </a>
                <div><a href="https://twitter.com/data_cheeves"
                        style="color: #666; text-decoration: none;">Nathan</a>
                </div>
            </div>

            <div>
                Did we miss something? Or have a question?<br>
                We invite you to ask anything you’d like to hear answered.<br>
                Tweet us at <a href="https://twitter.com/data_cheeves">@data_cheeves</a>
            </div>
            <div style="clear: both;"></div>
        </div>

    </div>
</div>
</body>
</html>